* {
    margin: 0;
    padding: 0;
}

header {
    min-height: 200px;
    text-align: center;
}

body {
    background-color: #EBFAFF;
    padding: 15px;
}

article {
    background-color: rgb(182, 227, 241);
    max-width: 1000px;
    min-height: 500px;
    margin: 0 auto;
}

article > h1 {
    text-align: center;
    padding: 20px 0;
}

table {
    margin: 0 auto;
}

table .spacing {
    height: 2em;
}

article table tr td {
    padding: 0 15px;
    width: 350px;
}

article table tr th {
    padding: 0 10px;
}

article table {
    padding-top: 15px;
}

#h1 {
    font-size: 2em;
}

.comment {
    width: auto;
}

a {
    color: rgb(36, 36, 36);
}




article table tr > * {
    border: 2px solid red;
}