* {
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html {
    background-color: #555555;
}

header {
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

body {
    margin: 0 25%;
}

nav {
    position: fixed;
    background-color: #464646;
    height: 10%;
    width: 100%;
    left: 0;
}

nav div {
    position: absolute;
    background-color: bisque;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

nav li {
    display: inline-block;
    width: 90px;
    padding: 10px;
    border: 5px dotted red;
}

main {
    height: 4000px;
    max-width: 75%;
    margin: 0 auto;
    border: 15px groove red;
    padding: 1.2%;
    text-align: justify;
}

footer {
    margin: 2% 0;
    text-align: center;
}

.synopsis {
    position: sticky;
    top: 25%;
    background-color: #FFFFFF;
    padding: 1.2%;
    max-width: 26%;

    transform: translate(-110%)
}

#portrait {
    width: 100%;
}

#name {
    text-transform: uppercase;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
